@use 'variables';

body {
    background-color: variables.$background-color;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1023px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .logo {
        width: 15em;
    }

    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .link-to {
        padding: 0.5em;
        font-size: x-large;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: variables.$black_font;
    }

    a:hover {
        color: variables.$golden;
    }

}

@media screen and (min-width: 1024px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .logo {
        width: 15em;
    }

    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .link-to {
        padding: 0.5em;
        font-size: x-large;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: variables.$black_font;
    }

    a:hover {
        color: variables.$golden;
    }

}